h1 {
  text-align: center;
}

h2 {
  text-decoration: underline;
  text-align: center;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* FLEX */
.flex {
  display: flex;
}
/* FIN */
/*  */
/*  */
/*  */

/* WRAP */
.wrap {
  flex-wrap: wrap;
}
/* FIN */
/*  */
/*  */
/*  */

/* NOWRAP */
.nowrap {
  flex-wrap: nowrap;
}
/* FIN */
/*  */
/*  */
/*  */

/* GOUTTIERRE */
.gouttierre > .item-conteneur {
  padding: 1em 0 0 1em;
}
/* FIN */
/*  */
/*  */
/*  */

/* La direction */
.row {
  flex-direction: row;
}

.row-reverse {
  flex-direction: row-reverse;
}

.column {
  flex-direction: column;
}

.column-reverse {
  flex-direction: column-reverse;
}
/* FIN */

/*  */
/*  */
/*  */
/*  */

/* L'Axe principale */
.justify-content-fs {
  justify-content: flex-start;
}

.justify-content-fe {
  justify-content: flex-end;
}

.justify-content-c {
  justify-content: center;
}

.justify-content-sa {
  justify-content: space-around;
}

.justify-content-se {
  justify-content: space-evenly;
}

.justify-content-sb {
  justify-content: space-between;
}
/* FIN */

/*  */
/*  */
/*  */
/*  */

/* L'AXE secondaire */
.align-items-c {
  align-items: center;
}

.align-items-fe {
  align-items: flex-end;
}

.align-items-fs {
  align-items: flex-start;
}

.align-items-stch {
  align-items: stretch;
}

.align-items-baseline {
  align-items: baseline;
}
/* FIN */

/*  */
/*  */
/*  */
/*  */

/* L'ORDRE */
.order-0 {
  order: 0;
}

.order-plus-1 {
  order: 1;
}

.order-plus-2 {
  order: 2;
}
.order-plus-3 {
  order: 3;
}

.order-plus-4 {
  order: 4;
}
.order-plus-5 {
  order: 5;
}

.order-plus-6 {
  order: 6;
}

.order-plus-7 {
  order: 7;
}

/* L'ORDRE NEGATIFS */
.order-moins-1 {
  order: -1;
}

.order-moins-2 {
  order: -2;
}

.order-moins-3 {
  order: -3;
}

.order-moins-4 {
  order: -4;
}

.order-moins-5 {
  order: -5;
}

.order-moins-6 {
  order: -6;
}

.order-moins-7 {
  order: -7;
}
/* FIN */

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/* Le nombre de contenu par ligne */
.conteneur-1sur1 > .item-conteneur {
  flex: 0 0 50%;
}

.conteneur-1sur2 > .item-conteneur {
  flex: 0 0 45%;
}

.conteneur-1sur3 > .item-conteneur {
  flex: 0 0 30%;
}

.conteneur-1sur4 > .item-conteneur {
  flex: 0 0 20%;
}

/* FIN  */
/*  */
/*  */
/*  */

/* COLONNE  */
.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 49.99%;
}

.col-7 {
  width: 58.32%;
}

.col-8 {
  width: 66.65%;
}

/* FIN */
/*  */
/*  */
/*  */

/* LE HOOVER */
h1:hover {
  color: brown;
  text-decoration: underline;
}

h2:hover {
  color: blue;
}

.ok:hover {
  border: 1px dotted red;
  padding: 20px 20px 20px 20px;
  font-size: 18px;
  font-family: cursive;
}

a:hover {
  color: green;
}

/* FIN */
/*  */
/*  */
/*  */

/* MENU DEROULANT */
nav ul {
  margin: 0px;
  padding: 0;
  width: 10em;
  text-align: center;
  list-style-type: none;
  background-color: blue;
}

nav li {
  position: relative;
  padding: 10px;
  border: 1px solid;
}

nav ul ul {
  position: absolute;
  display: none;
  top: 0;
  left: 10em;
}

li:hover ul {
  display: block;
  background-color: white;
}

.box {
  padding: 50px 10px 50px 50px;
  width: 200px;
  border: 1px solid;
  border-radius: 25px;
  background-color: violet;
}

/* FIN  */
/*  */
/*  */
/*  */
